streamlit==1.35.0
matplotlib==3.8.4
scikit-learn==1.4.2
PyPDF2==3.0.1
nltk==3.8.1
spacy==3.7.2
sentence-transformers==2.6.1
torch==2.2.1
numpy==1.26.4
scipy==1.12.0
transformers==4.39.0
huggingface-hub==0.21.0
tqdm==4.66.2
